In [1]:
diccionario_ciudades={"28040":"Madrid","00080":"Barcelona","28002":"Madrid"}
for k in sorted(diccionario_ciudades):
    print(k,diccionario_ciudades[k])
print()

for w in sorted(diccionario_ciudades, key=diccionario_ciudades.get):
    print(w,diccionario_ciudades[w])

00080 Barcelona
28002 Madrid
28040 Madrid

00080 Barcelona
28040 Madrid
28002 Madrid

In [2]:
lista_ciudades=[]
for e in diccionario_ciudades:
    lista_ciudades.append((diccionario_ciudades.get(e),e))
print(lista_ciudades)

[('Madrid', '28040'), ('Barcelona', '00080'), ('Madrid', '28002')]

In [3]:
for ciudad in sorted(lista_ciudades):
    print(ciudad[1],ciudad[0])

00080 Barcelona
28002 Madrid
28040 Madrid

In [4]:
codigos_postales=diccionario_ciudades.keys()
#print(codigos_postales)
ciudades=diccionario_ciudades.values()
#print(ciudades)

nuevo_diccioanrio_ciudades=dict(zip(ciudades,codigos_postales))
print(nuevo_diccioanrio_ciudades)

{'Madrid': '28002', 'Barcelona': '00080'}

Fichero

In [5]:
cuadrados=[i**2 for i in range(1,11)]
print(cuadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
fichero=open("numeros.txt","w")
for n in cuadrados:
    fichero.write(str(n)+"\n")
fichero.close()

In [7]:
fichero=open("numeros.txt","r")

print(fichero.read())
fichero.close()

1
4
9
16
25
36
49
64
81
100

In [8]:
fichero=open("numeros.txt","r")

linea=fichero.readline().strip()
while linea:
    print(linea,end=" ")
    linea=fichero.readline().strip()
    
print()
fichero.close()

1 4 9 16 25 36 49 64 81 100

In [ ]:
path=input("Dame la ruta del fichero")
try:
    fichero=open(path,"w")
    fichero.write("Intento de escritura en un fichero")
    fichero.close()
except IOError:
    print("Error al intentar escribir en el fichero")
else:
    print("todo ha ido bien")
finally:
    fichero.close()

In [ ]:
#FUNCIONES

In [ ]:
def hola():
    print("hola")
def saluda(nombre):
#función que imprime un saludos por pantalla
# nombre es un string con el nombre de la persona a la que saludamos
    print("Hola,",nombre)
hola()
saluda ("Guillermo")
hola()
saluda("Jorge")

In [ ]:
def max (n1,n2):
    #max calcula el máximo de los dos números que se le pasan como parámetros
    if n1>n2:
        return n1
    else:
        return n2

num1=eval(input("dime un numero: "))
num2=eval(input("dime otro numero: "))
print(max(num1, num2))

num3=eval(input("dime otro numero más: "))
print(max(max(num1,num2),num3))

In [ ]:
def max3 (n1,n2,n3):
    return max(max(n1,n2),n3)
print(max3(num1,num2,num3))

In [1]:
def pot2(n):
    for i in range(n+1):
        print(2**i,end=" ")
    print()
pot2(50)

1 2 4 8 16 32 64 128 256 512 1024 2048 4096 8192 16384 32768 65536 131072 262144 524288 1048576 2097152 4194304 8388608 16777216 33554432 67108864 134217728 268435456 536870912 1073741824 2147483648 4294967296 8589934592 17179869184 34359738368 68719476736 137438953472 274877906944 549755813888 1099511627776 2199023255552 4398046511104 8796093022208 17592186044416 35184372088832 70368744177664 140737488355328 281474976710656 562949953421312 1125899906842624

In [5]:
def factorial(n):
    if n<2:
        return 1
    return n*factorial(n-1)
factorial(10)
print(factorial(10))

3628800

In [13]:
def cambia(li):
    li.append(4)
    print(li)

def nocambia(li):
    li=[0,0,0]
    print(li)

lista=[1,2,3]
cambia(lista)
print(lista)

nocambia(lista)
print(lista)

[1, 2, 3, 4]
[1, 2, 3, 4]
[0, 0, 0]
[1, 2, 3, 4]

In [15]:
def intercambia(n1,n2):
    print(n1,n2)
    n1,n2=n2,n1
    print(n1,n2)
    
num1=4
num2=7
intercambia(num1,num2)
print(num1,num2)

4 7
7 4
4 7

In [16]:
def intercambia2 (n1,n2):
    return n2,n1

n1=4
n2=7

n1,n2=intercambia2(n1,n2)
print(n1,n2)

7 4