In [6]:
import math
print (math,sqrt(25))

NameError: name 'sqrt' is not defined

In [7]:
print(math.sqrt(25))

5.0

In [9]:
print(round(10.2*14.3))

146

In [10]:
print(round(10.2*14.3,1))

145.9

In [11]:
print(round(2*math.pi*5**2+2*math.pi*5*22,2))

848.23

In [12]:
print(math.factorial(7))

5040

In [13]:
print(math.log(32,2))

5.0

In [16]:
print(math.sin(math.radians(270)))

-1.0

In [17]:
nombre="pedro"
print(nombre)

pedro

In [18]:
nombre="juan"
print(nombre)

juan

In [21]:
numero=12
print(numero)

12

In [22]:
numero=54

In [24]:
numero=numero*4
print(numero)
numero2=21
print(numero*numero2)

864
18144

In [29]:
a=2
b=a
c=a
print(a,b,c)
a="hola"

2 2 2

In [30]:
print(a,b,c)

hola 2 2

In [34]:
x=y=z=5
print(x,y,z)
x=2
y=3
z=4
x=y=z
print(x,y,z)

5 5 5
4 4 4

In [38]:
x,y,z=1,"patata",15.3
print(x,y,z)
x=45
y=78
print(x,y)
x,y=y,x
print(x,y)

1 patata 15.3
45 78
78 45

In [42]:
a=3
a=a*2
print(a)

6

In [43]:
del a
print("a")

a

In [44]:
s="hola"
b=s
print(b)

hola

In [2]:
nombre=input("Dime tu nombre:")
print("Tu nombre es",nombre)

Dime tu nombre:Rodrigo
Tu nombre es Rodrigo

In [7]:
edad=eval(input("Dime tu edad"))
print("Tienes",edad,"años")
edad=edad+15
print("Dentro de 15 años tendrás",edad,"años")

Dime tu edad23
Tienes 23 años
Dentro de 15 años tendrás 38 años

In [11]:
nombre=input("Cuales son tus nombres")
apellidos=input("cuales son tus apellidos")
print("Te llamas",nombre,apellidos)

Cuales son tus nombresRodrigo Andrés
cuales son tus apellidosUrbano Ganora
Te llamas Rodrigo Andrés Urbano Ganora

In [14]:
peso=eval(input("dime tu peso"))
altura=eval(input("dime tu estatura"))
print("tu peso por tu altura es",(peso*altura))
print("tu peso menos tu altura es",(peso-altura))
print("tu peso màs tu altura es",(peso+altura))

dime tu peso60
dime tu estatura1.70
tu peso por tu altura es 102.0
tu peso menos tu altura es 58.3
tu peso màs tu altura es 61.7

In [16]:
print(type(peso))
print(type(altura))
print(type(nombre))
print(type(15.2))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'float'>

In [18]:
float(12+3.4)

15.4

In [19]:
3<2

False

In [20]:
quijote= "en un lugar de la mancha de cuyo nombre no quiero acordarme"
print(len(quijote))

59

In [23]:
quijote.upper()

'EN UN LUGAR DE LA MANCHA DE CUYO NOMBRE NO QUIERO ACORDARME'