ejercicio para la casa

In [ ]:
numero_st=input("introduce un número positivo")
if numero_st.isdigit():
    numero=eval(numero_st)
    suma=0
    while numero>0:
        suma=suma+numero%10
        numero=int(numero/10)
    print("la suma de las cifrases ",suma)
    
else:
    print("eso no es un número")

In [ ]:
lista_ciudades = ["Madrid","Alcorcón","Móstoles","Fuenla"]

print(lista_ciudades)
ciudad=input("Dime una ciudad")

if ciudad in lista_ciudades:
    print(lista_ciudades.index(ciudad))
else:
    print(ciudad,"no está en la lista, la incluyo")
    lista_ciudades.append(ciudad)
    print(lista_ciudades)

In [4]:
pos=eval(input("dime una posición: "))

print("la ciudad en la posición",pos, %i es %s" % (pos,lista_ciudades[pos]))
else:
    print("no hay tantas ciudades")

SyntaxError: invalid syntax (<ipython-input-4-41b4ca87c236>, line 4)

4. crea una lista con varios numeros y usando un bucle for imprime aquellos numeros pares

In [6]:
lista_numeros=[1,2,2,4,5,6,7,8,9,10]
num_pares=0

for numero in lista_numeros:
    if numero%2==0:
        
        print(numero,end=" ")
        
print("Hay %i números pares" % (num_pares))

2 2 4 6 8 10 Hay 0 números pares

In [ ]:
meses = ["enero","febrero","marzo","abril","mayo","Junio","julio"]
for (i,valor)

In [7]:
lista_numeros=[]
for i in range(200,301,2):
   lista_numeros.append(i)
print(lista_numeros)

[200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300]

In [8]:
cp=["28001","08001","43002"]
ciudades=["Madrid","Barcelona","orense","santander"]

for c1,c2 in zip (cp,ciudades):
    print(c1,c2.upper())

28001 MADRID
08001 BARCELONA
43002 ORENSE

In [9]:
print(cp)
cp.sort()
print(cp)

['28001', '08001', '43002']
['08001', '28001', '43002']

In [37]:
lista_curso=["Gullie","Samy","Gabo","Gisela","Samy","Marcos","Iñaqui","Fito","Samy"]
a="Samy"
cont=0
for curso in lista_curso:
    if curso==a:
        cont+=1
        
print(f"La persona {a} aparece {cont} veces.")
print("La persona %s aparece %i veces." % (a, cont))
print("La persona",a,"aparece", cont ,"veces.")
print("La persona " + a + " aparece " + str(cont) + " veces.")
print("La persona " + a + " aparece " + str(cont) + " veces.")
print("La persona {} aparece {} veces.".format(a, cont))
cont *100/ len(lista_curso)

La persona Samy aparece 3 veces.
La persona Samy aparece 3 veces.
La persona Samy aparece 3 veces.
La persona Samy aparece 3 veces.
La persona Samy aparece 3 veces.
La persona Samy aparece 3 veces.

33.333333333333336

In [39]:
tupla1=("uno","dos","tres")
tupla2=("cuatro","cinco","seis","siete")

print(tupla1[2])
print(len(tupla1))
print(tupla1*3)

tres
3
('uno', 'dos', 'tres', 'uno', 'dos', 'tres', 'uno', 'dos', 'tres')

In [41]:
lista_ciudades=[("28040","Madrid"),("00080","Barcelona"),("28002","Madrid")]
print(lista_ciudades)

[('28040', 'Madrid'), ('00080', 'Barcelona'), ('28002', 'Madrid')]

In [43]:
for ciudad in lista_ciudades:
    if ciudad[1]=="Madrid":
        print(ciudad[0])

28040
28002

In [48]:
diccionario={}

for i in range(1,11):
    diccionario[i]="a"*i
    diccionario[i+10]="b"*i
    
print(diccionario)

{1: 'a', 11: 'b', 2: 'aa', 12: 'bb', 3: 'aaa', 13: 'bbb', 4: 'aaaa', 14: 'bbbb', 5: 'aaaaa', 15: 'bbbbb', 6: 'aaaaaa', 16: 'bbbbbb', 7: 'aaaaaaa', 17: 'bbbbbbb', 8: 'aaaaaaaa', 18: 'bbbbbbbb', 9: 'aaaaaaaaa', 19: 'bbbbbbbbb', 10: 'aaaaaaaaaa', 20: 'bbbbbbbbbb'}

In [56]:
for num in diccionario:
    print(num,":", end=" ")
    print(diccionario[num])

1 : a
11 : b
2 : aa
12 : bb
3 : aaa
13 : bbb
4 : aaaa
14 : bbbb
5 : aaaaa
15 : bbbbb
6 : aaaaaa
16 : bbbbbb
7 : aaaaaaa
17 : bbbbbbb
8 : aaaaaaaa
18 : bbbbbbbb
9 : aaaaaaaaa
19 : bbbbbbbbb
10 : aaaaaaaaaa
20 : bbbbbbbbbb

In [54]:
sorted(diccionario)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [59]:
claves_ordenadas=sorted(diccionario)
for c in claves_ordenadas:
    print(c,":",end=" ")
    print(diccionario[c])

1 : a
2 : aa
3 : aaa
4 : aaaa
5 : aaaaa
6 : aaaaaa
7 : aaaaaaa
8 : aaaaaaaa
9 : aaaaaaaaa
10 : aaaaaaaaaa
11 : b
12 : bb
13 : bbb
14 : bbbb
15 : bbbbb
16 : bbbbbb
17 : bbbbbbb
18 : bbbbbbbb
19 : bbbbbbbbb
20 : bbbbbbbbbb

In [61]:
sorted(diccionario.values())

['a',
 'aa',
 'aaa',
 'aaaa',
 'aaaaa',
 'aaaaaa',
 'aaaaaaa',
 'aaaaaaaa',
 'aaaaaaaaa',
 'aaaaaaaaaa',
 'b',
 'bb',
 'bbb',
 'bbbb',
 'bbbbb',
 'bbbbbb',
 'bbbbbbb',
 'bbbbbbbb',
 'bbbbbbbbb',
 'bbbbbbbbbb']

In [62]:
diccionario_ciudades={"28040":"Madrid","00080":"Barcelona","28002":"Madrid"}
print(sorted(diccionario_ciudades))

['00080', '28002', '28040']

In [63]:
print(sorted(diccionario_ciudades.values()))

['Barcelona', 'Madrid', 'Madrid']

In [ ]:
sorted(diccionario_ciudades)